<%-include ("include/head.ejs")%>
<body>
  <h1>this is the home page </h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo eos provident quis quidem blanditiis ad velit illo necessitatibus reiciendis ab!</p>
  <h3><%= 1*2 %></h3>  
  <h3><%= "Apnacollege".toUpperCase() %> </h3>
  <button>click me </button>
</body>
</html>