<%-include ("include/head.ejs")%>
<body>
  <h1>roll dice </h1>
  <h1>dice gave value:
    <%=diceValue %>
  </h1>

  <% if (diceValue==6)
{ %>
<h2>Nice ! roll the dice again </h2>
<% }%>
</body>
</html>

  
