<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>form</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>create new post </h1>
  <form method="post" action="/posts" >
    <input type="text" placeholder="enter username" name="username" required class="user">
    <br><br>
    <textarea name="content" placeholder="enter post content" required class="content"></textarea><br>
    <button type="submit" class="button">submit</button>
  </form>

</body>
</html>